name: CI Pipeline

on:
  push:
    branches: ["fitur-biodata"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '18'

    - name: Install dependencies
      run: |
        cd app
        npm install

    - name: Build
      run: |
        cd app
        npm run build -- if-present

    - name: Run tests
      run: |
        cd app
        npm test --if-present


