name: Docker Deploy to Server

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install SSH Client
        run: sudo apt-get update && sudo apt-get install -y openssh-client

      - name: Setup SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.DEPLOY_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

      - name: Deploy to server via Cloudflare Tunnel
        run: |
          ssh -o StrictHostKeyChecking=no \
              ${{ secrets.SSH_USER }}@${{ secrets.SSH_HOST }} << 'EOF'

            cd /home/opik/belajar-devops/app

            echo "➡ Pulling latest image..."
            docker compose pull

            echo "➡ Restarting containers..."
            docker compose up -d

            echo "➡ Cleaning unused images..."
            docker image prune -f

            echo "✔ Deployment finished!"
          EOF
